
/* Formatting */

.float-right{
	float: right;
}


.rounded-box{
	border-radius: 25px;
     
    width: 150px;
    height: 150px;
}

.jumbo{
	font-size: 100px;
}

/* Background */

.bg-grey{background: #aaa;}
.bg-red{background: #d9534f;}
.bg-orange{background: #f0ad4e;}
.bg-green{background: #5cb85c;}
.bootstrap{background: #db892b;}
.embreate{background: #806cd8;}
.gesturetek{background: #2bacdb;}
.personal{background: #2bdb77;}



/* 
	Page Specific Classes
*/

.projects-schedule tbody tr.projects td {
	padding: 0;
	color: white;
}

.projects-schedule tbody tr.projects td div{
	padding: 5px 0 0 0;
	height: 50px;
	opacity: 0.7;
	line-height: 110%;
}

.projects-schedule tbody tr.projects td div span{
	color: white;
	background-color: black;
	padding: 1px 5px;
	
}

.ticker .rounded-box {
	display: inline-block;
}

.ticker .rounded-box {
	color: white;
}

.ticker p.jumbo{
	line-height: 120px;
	margin: 0;
}

.ticker p.title{
	line-height: 0px;
}

