.rounded-box{
	border-radius: 25px;
     
    width: 150px;
    height: 150px;
}

.jumbo{
	font-size: 100px;
}

.bg-red{
	background: #d9534f;
}

.bg-orange{
	background: #f0ad4e;
}

.bg-green{
	background: #5cb85c;
}





/* 
	Page Specific Classes
*/

.ticker .rounded-box {
	display: inline-block;
}

.ticker .rounded-box {
	color: white;
}

.ticker p.jumbo{
	line-height: 120px;
	margin: 0;
}

.ticker p.title{
	line-height: 0px;
}

