<div class="container-fluid footer">
<br>
  <div class="row">
    <div class="col-sm-4 m-b">
      <ul class="list-unstyled list-spaced">
        <li><h6>CONTACT</h6></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="col-sm-4 m-b">
      <ul class="list-unstyled list-spaced">
        <li><h6>SOCIAL</h6></li>
        <!--<li><a href="https://www.facebook.com/{{ site.facebook_username }}/"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>-->
        <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
        <li><a href="https://www.instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li> 
      </ul>
    </div>

    <div class="col-sm-4">
      <h6 class="text-uppercase">About</h6>
      <p>
        {{ site.description }}
      </p>
    </div>
  </div>
</div>
<br>
<div class="text-center">&#169; 2016 Scott Nihill</div>





